:root{
    --red: #F00;
    --green: #0F0;
    --blue: #00F;
    --orange: #FA0;
    --magenta: #F0F;
    --yellow: #FF0;
    --slime: #0FF;
    --greyish: #2c2c28;
    --darkness: #111133;
    --lightness: #FFFFAA;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    height: 100vh;
}

.restart, .quit{
    position: absolute;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
    z-index: 11;
}

.restart{
    top: 10px;
    right: 70px;
}

.quit{
    top: 10px;
    right: 10px;
}

.main-menu{
    position: relative;
    height: 100%;
    padding-top: 15%; 
}

.main-menu ul{
    text-align: center;
    margin: auto;
    list-style: none;
}
.main-menu ul li{
    background-color: #BBB;
    border: 3px solid #AAA;
    border-radius: 5%;
    font-size: 36px;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    padding: 20px;
}

.main-menu ul li:hover{
    background-color: #CCC;
    cursor: pointer;
}

.main-menu ul li:active{
    background-color: #DDD;
}

/* entire container, keeps perspective */
.flip-container {
    display: inline-block;
    position: absolute;
    perspective: 1000px;
    transform: translateX(0px);
    left: 0;
    top: 0;
    transition: all 1s;
}

.flip-container.shuffle {
    transform: translateX(100px);
}

/* flip the pane when hovered */
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 160px;
	height: 240px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
    border: 3px solid black;
    border-radius: 5%;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    border: 3px solid black;
    border-radius: 5%;
    background-color: gray;
    background-image: url('../images/card-back.svg');
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: green;
    border-radius: 5%;
}

.board{
    position: relative;
}

@media (max-width: 415px){
    .flip-container, .front, .back {
        width: 80px;
        height: 120px;
    }

    .main-menu ul li{
        width: 90%;
    }
}
